body {
}

.ball {
    border-radius: 50%;
    filter: blur(15px);
    background-color: #c50000;
    z-index: -2;
    width: 300px;
    height: 300px;
}

.abaPrincipal {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.slider, .navigation-button {
    transform: translateY(-0px);
}

.sobreContainer {
}

.sobreCorDiferente {
    background-color: #ebe1d4;
}

.sobre {
    min-height: 100vh;
    max-height: 1000px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-around
}

.sobre .imagem {
    width: auto;
    height: auto;
    max-height: 320px;
    max-width: 500px;
    margin: 30px;
    border-radius: 16px;
    box-shadow: 15px 15px 0px #caa989;
}

.sobre .txt {
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
    border-radius: 12px;
    padding: 15px;
    max-width: 530px;
}

@media (max-width: 950px) {
    .sobre {
    padding-top: 50px;
        max-height: unset;
        min-height: 500px;
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
    }
    .sobre .imagem {
        max-height: 250px;
        max-width: 300px;
        margin: 30px;
    }
}