/* Estilos gerais para cabeçalhos */
h1 {
  color: #765443;
  font-size: 32px;
}

h2 {
  color: #4a543e;
  font-size: 20px;
}

/* Estilos para texto */
.texto .topic {
  font-family: "Noto Serif", serif;
  font-size: 36px;
  color: #8a604b;
  font-style: initial;
  text-align: left;
}

.texto p {
  color: #5c5c5c;
  font-size: 20px;
  text-align: left;
  margin-left: 22%;
}

/* Estilos para biografia */
.bio {
}

.bioTitle {
  letter-spacing: 3px;
  text-align: left;
  font-weight: 700;
  font-size: 52px;
  font-family: "Noto Serif", serif;
  color: #5d6a4a;
  margin-top: 20px;
}

.miniBio {
  font-size: 15.5px;
  color: #16100c;
  text-align: left;
  text-align: justify;
}

/* Estilo para botão da galeria */
.btGaleria {
  transform: translateX(-10px);
  margin-bottom: 30px;
  background-color: #798a61;
  color: #fff;
  border: none;
  padding: 6px 14px;
  font-size: 14px;
  border-radius: 20px;
  font-family: 'Inter';
  font-weight: bold;
  margin-left: 8px;
  margin-top: 10px;
  align-items: center;
  text-align: center;
  transition: background-color 0.5s;
  cursor: pointer;
}

.btGaleria:hover {
  background-color: #5d6a4a;
}

/* Estilos responsivos */
@media (max-width: 720px) {
  .bioTitle {
    font-size: px;
  }

  .texto h1 {
    font-size: 24px;
    text-align: left;
    margin-left: 1%;
  }
}
