/* Estilos gerais para cabeçalhos */
h1 {
  color: #765443;
  font-size: 27px;
}

h2 {
  color: #4a543e;
  font-size: 20px;
  margin-left: 20px;
}

/* Estilos para listas */
.item-list {
  margin-left: 40px;
}

/* Estilos para texto */
.texto h1 {
  font-size: 36px;
  color: #8a604b;
  font-style: initial;
  text-align: left;
  margin-left: 22%;
}

.texto p {
  color: #5c5c5c;
  font-size: 20px;
  text-align: left;
  margin-left: 22%;
}

/* Estilos para biografia */
.bio {
  background-color: rgba(226, 192, 144, 0.329);
  border-radius: 8px;
  padding: 10px;
  margin: auto;
  width: 90%;
  max-width: 1100px;
  height: 100%;
  justify-content: center;
}

.bioTitle {
  font-weight: 700;
  text-align: center;
  font-size: 44px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Work Sans', sans-serif;
  color: #5d6a4a;
  margin-top: 40px;
}

.miniBio {
  font-size: 15.5px;
  margin-left: 30px;
  margin-right: 55px;
  color: #16100c;
  text-align: left;
  text-align: justify;
}

.miniBio .selfie img {
  max-width: 190px;
  border-radius: 8px;
  float: right;
  margin: 0px 0px 30px 30px;
  margin-bottom: 10px;
}

.miniBio .proposito img {
  max-width: 185px;
  border-radius: 8px;
  float: left;
  margin: 0px 30px 30px 0px;
}

.miniBio .experiencia {
  display: flex;
  justify-content: center;
  align-items: center;
}

.miniBio .experiencia img {
  max-width: 600px;
  border-radius: 8px;
  margin-top: 40px;
  margin: 40px 30px 30px 30px;
}

/* Estilo para botão da galeria */
.btGaleria {
  transform: translateX(-10px);
  margin-bottom: 30px;
  background-color: #798a61;
  color: #fff;
  border: none;
  padding: 6px 14px;
  font-size: 14px;
  border-radius: 8px;
  font-family: 'Inter';
  font-weight: bold;
  margin-left: 8px;
  margin-top: 10px;
  align-items: center;
  text-align: center;
  transition: background-color 0.5s;
  cursor: pointer;
}

.btGaleria:hover {
  background-color: #5d6a4a;
}

/* Estilos responsivos */
@media (max-width: 720px) {
  .bio {
    min-width: 87%;
    max-width: 87%;
    padding: 10px;
  }

  .miniBio {
    margin-left: 16px;
    margin-right: 16px;
    font-size: 14px;
    align-items: center;
  }

  .bioTitle {
    font-size: 38px;
  }

  .texto h1 {
    font-size: 24px;
    text-align: left;
    margin-left: 1%;
  }

  .texto p {
    font-size: 16px;
    text-align: left;
    margin-left: 1%;
  }

  .miniBio .selfie img {
    max-width: 130px;
    border-radius: 8px;
    float: right;
    margin-left: 20px;
  }

  .miniBio .proposito {
    display: flex;
    float: unset;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .miniBio .quadro {
    align-items: center;
  }

  .miniBio .quadro img {
    padding: auto;
    border-radius: 8px;
    display: block;
    margin-bottom: 15px;
  }

  .miniBio .experiencia img {
    max-width: 260px;
    border-radius: 8px;
    margin-top: 40px;
    margin: 40px 30px 30px 30px;
  }
}
