/* Inputs e textarea */
.input {
  border-radius: 7px;
  border-style: none;
  padding: 5px;
  width: 200px;
  outline: none;
  transition: box-shadow 0.25s, transform 0.10s, background-color 0.25s;
  margin-top: 8px;
  box-shadow: 0px 0px 7px rgba(94, 94, 94, 0.5);
}

.input:focus {
  transform: scale(1.02);
  box-shadow: 0px 0px 15px rgba(40, 40, 40, 0.5);
}

.input:hover {
  background-color: #f4f4f4;
}

textarea {
  padding: 10px;
  border-style: none;
  resize: none;
  position: absolute;
  width: 250px;
  height: 80px;
  outline: none;
  border-radius: 12px;
  box-shadow: 0px 0px 7px rgba(94, 94, 94, 0.5);
  transition: box-shadow 0.25s, width 0.25s, height 0.25s, border-radius 0.25s, background-color 0.25s;
}

textarea:focus {
  width: 450px;
  height: 250px;
  box-shadow: 0px 0px 15px rgba(40, 40, 40, 0.5);
}

textarea:hover {
  background-color: #f4f4f4;
}

/* Estilos para texto e cabeçalhos */
h1 {
  font-size: 44px;
  font-weight: bold;
  color: #50372a;
  text-align: center;
}

h2 {
  color: #422d24;
  font-size: 26px;
}

h4, h5 {
  color: #e70a0a;
  text-align: justify;
}

/* Estilos para o formulário */
.form {
  background-color: rgba(226, 192, 144, 0.329);
  border-radius: 8px;
  padding: 30px;
  margin: auto;
  max-width: 75%;
  height: 100%;
  justify-content: center;
  margin-top: 40px;
  align-items: center;
  position: relative;
}

.submit {
  background-color: #a07146;
  color: #fff;
  border: none;
  padding: 6px 10px;
  font-size: 15.5px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Inter';
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  width: auto;
  margin-top: 10px;
  text-align: center;
  transition: background-color 0.2s;
}

.submit:hover {
  background-color: #66492d;
}

/* Espaço */
.space {
  height: 80px;
}

/* Estilos responsivos */
@media (max-width: 720px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 20px;
  }

  .history {
    min-width: 90%;
    max-width: 90%;
    padding: 10px;
  }

  .text {
    margin-left: 16px;
    margin-right: 16px;
  }

  .historyTitle {
    margin-left: 16px;
  }

  .texto p {
    font-size: 16px;
    text-align: left;
    margin-left: 1%;
  }

  textarea {
    width: 61vw;
    margin-right: 15px;
  }

  textarea:focus {
    width: 71vw;
    height: 250px;
  }

  .botoes img {
    margin: 0;
    padding: 5px;
  }
}
