/* Inputs e textarea */
.input {
  border-radius: 7px;
  border-style: none;
  padding: 5px;
  width: 200px;
  outline: none;
  transition: box-shadow 0.25s, transform 0.10s, background-color 0.25s;
  margin-top: 8px;
  box-shadow: 0px 0px 7px rgba(94, 94, 94, 0.5);
}

.input:focus {
  transform: scale(1.02);
  box-shadow: 0px 0px 15px rgba(40, 40, 40, 0.5);
}

.input:hover {
  background-color: #f4f4f4;
}

.bloco textarea {
  padding: 10px;
  border-style: none;
  resize: none;
  position: absolute;
  width: 100%;
  max-width: calc(100% - 40px);
  min-width: 100px;
  height: 100px;
  outline: none;
  border-radius: 12px;
  box-shadow: 0px 0px 7px rgba(94, 94, 94, 0.5);
  transition: box-shadow 0.25s, width 0.25s, height 0.25s, border-radius 0.25s, background-color 0.25s;
  box-sizing: border-box;
  z-index: 100;
}

.bloco textarea:focus {
  height: 45%;
  box-shadow: 0px 0px 15px rgba(40, 40, 40, 0.5);
}

textarea:hover {
  background-color: #f4f4f4;
}

/* Estilos para texto e cabeçalhos */
h1 {
  font-size: 48px;
  font-weight: bold;
  color: #50372a;
  text-align: center;
}

h2 {
  color: #422d24;
  font-size: 26px;
}

h4, h5 {
  color: #e70a0a;
  text-align: justify;
}

/* Estilos para o formulário */
.form {
  border-radius: 8px;
  padding: 30px;
  margin: auto;
  max-width: 85%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.blocosContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.bloco {
  position: relative;
  margin: 0;
  max-width: 300px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px; 
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bloco:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.submit {
  background-color: #b48d66;
  color: #fff;
  border: none;
  padding: 6px 10px;
  font-size: 15.5px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  width: auto;
  margin-top: 10px;
  text-align: center;
  transition: background-color 0.2s;
}

.submit:hover {
  background-color: #977450;
}

/* Espaço */
.space {
  height: 80px;
}

/* Estilos responsivos */
@media (max-width: 720px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 20px;
  }

  .history {
    min-width: 90%;
    max-width: 90%;
    padding: 10px;
  }

  .text {
    margin-left: 16px;
    margin-right: 16px;
  }

  .historyTitle {
    margin-left: 16px;
  }

  .texto p {
    font-size: 16px;
    text-align: left;
    margin-left: 1%;
  }

  .botoes img {
    margin: 0;
    padding: 5px;
  }
}
