/* desktop */
body {
  background-color: #fff8f4;
}
::selection {
background-color: rgb(216, 162, 127);
}
header {
  padding: 10px 0;
  text-align: center;
  font-family: 'Inter', sans-serif;
  border-color: #8a604b;
  border-radius: 8px;
  background-color: #f3e1d0b4;
}
.botoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.botoes .texto {
  text-align: left;
  margin-left: 32px;
  flex-grow: 1;
}
.botoes .gallery input[type="button"] {
  background-color: #af7c4c;
  color: rgb(255, 255, 255);
  border: none;
  padding: 6px 8px;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  font-family: sans-serif;
  font-weight: bold;
  margin-right: 30px;
}
.botoes input[type="button"]:hover {
  background-color: #815c39;
}
.texto h1 {
  font-family: 'Inter', sans-serif;
  font-size: 36px;
  color: #8a604b;
  font-style: initial;
  text-align: left;
  margin-left: 22%;
}
.texto p {
  font-family: 'Inter', sans-serif;
  color: #5c5c5c;
  font-size: 20px;
  text-align: left;
  margin-left: 22%;
}
.botoes .link input[type="button"] {
  background-color: #af7c4c00;
  color: rgb(63, 63, 63);
  border: none;
  padding: 6px 8px;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  font-family: sans-serif;
  font-weight: bold;
}
.botoes .link input[type="button"]:hover {
  background-color: #f0d0acb6;
  font-family: sans-serif;
}
.history {
  background-color: rgb(241, 213, 179);
  border-radius: 8px;
  padding: 2px;
  margin: auto auto;
  min-width: 73%;
  max-width: 73%;
  height: 100%;
  justify-content: center;
}
.historyTitle {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  text-align: left;
  margin-left: 30px;
  font-size: 20px;
  color: #4b352a;
  margin-top: 40px;
}
.text {
  font-size: 16px;
  font-family: sans-serif;
  margin-left: 30px;
  margin-right: 55px;
  color: #16100c;
}
footer {
  border-radius: 8px;
  padding: 2px;
}
/* fim desktop */

/* galeria */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* Adicionado para espaçamento consistente entre imagens */
  border-radius: 8px; 
}

.image {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  flex: 1 1 calc(25% - 20px); /* Ajustado para garantir que 4 imagens caibam em uma linha, subtraindo o espaço de margem */
  box-sizing: border-box; /* Inclui a margem no cálculo do tamanho */
  margin: 10px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  border-radius: 8px;
}

.image:hover img {
  transform: scale(1.05);
  filter: blur(1px);
}

.image:hover .overlay {
  visibility: visible;
  opacity: 1;
}

.text {
  font-size: 20px;
  text-align: center;
  color: rgb(243, 243, 243);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(19, 19, 19, 0.411);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}
.botoes img {
  max-width: 150px;
  max-height:150px;
  position: relative;
  margin-left: 4%;
}
/*fim da galeria*/




@media (max-width: 768px) {
  .gallery {
      flex-direction: column;
      align-items: center;
  }

  .image {
      flex: 1 1 100%;
      margin: 10px 0;
  }

  .botoes {
      flex-direction: column;
      align-items: center;
  }

  .botoes .texto {
      margin-left: 16px;
      margin-bottom: 10px;
  }

  .botoes .gallery input[type="button"] {
      width: 100%;
      margin-right: 0;
      margin-left: 16px;
      margin-bottom: 10px;
  }

  .botoes .link input[type="button"] {
      width: 100%;
      margin-right: 0;
      margin-left: 16px;
      margin-bottom: 10px;
      background-color: rgba(231, 204, 168, 0.836);
  }

  .botoes .link input[type="button"]:hover {
      background-color: #c0a78b;
      font-family: sans-serif;
  }

  .history {
      min-width: 90%;
      max-width: 90%;
      padding: 10px;
  }

  .bt1, .bt2 {
      padding-right: 32px;
      justify-content: center;
      border-radius: 8px;
      padding-top: 5px;
  }

  .text {
      margin-left: 16px;
      margin-right: 16px;
  }

  .historyTitle {
      margin-left: 16px;
      margin-bottom: 400px;
  }

  .texto h1 {
      font-size: 24px;
      text-align: left;
      margin-left: 1%;
  }

  .texto p {
      font-size: 16px;
      text-align: left;
      margin-left: 1%;
      max-width: 270px;
      max-height: 270px;
  }
  .botoes img {
    margin-left: 0%;
  }
}
/*fim do mobile*/
