.texto h1 {
  font-family: 'Inter';
  font-size: 36px;
  color: #8a604b;
  font-style: initial;
  text-align: left;
}

.history {
  background-color: rgb(238, 216, 186);
  border-radius: 8px;
  padding-top: 2px;
  padding-right: 25px;
  padding-bottom: 30px;
  margin: auto;
  min-width: 90%;
  max-width: 90%;
  height: 100%;
}

.titleAndBar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.historyTitle {
  font-family: 'Inter';
  font-weight: bold;
  text-align: left;
  margin-left: 30px;
  font-size: 23px;
  color: #4b352a;
  margin-top: 10px;
}

.text {
  font-size: 16px;
  margin-left: 30px;
  margin-right: 55px;
  color: #16100c;
}

/* Estilo para as imagens */
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s, transform 0.3s;
  border-radius: 8px;
}

/* Estilo para o container das imagens */
.image {
  user-select: none;
  width: 250px;
  height: 250px;
  overflow: hidden;
  position: relative;
  margin: 5px;
  border-radius: 16px;
  cursor: pointer;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.255);
  transition: transform 0.2s ease-in-out;
}

.image:hover {
  transform: scale(1.05);
}

.image:active {
  transform: scale(0.9);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(19, 19, 19, 0);
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: visibility 0s, opacity 0.5s linear;
  border-radius: 8px;
}

.image:hover img {
  filter: brightness(40%) blur(3px);
  transform: scale(108%);
}

.image:hover .overlay {
  visibility: visible;
  opacity: 1;
}

.gallery {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  padding: 10px;
  border-radius: 8px;
}

.selectMediaType {
  margin-left: 30px;
}

.selectMediaType button {
  background-color: #798a61;
  color: #fff;
  border: none;
  transform: translateY(-25px) translateX(-40px);
  padding: 6px 14px;
  font-size: 14px;
  border-radius: 8px;
  font-family: 'Inter';
  font-weight: bold;
  margin-left: 8px;
  margin-top: 10px;
  align-items: center;
  text-align: center;
  transition: background-color 0.5s;
  cursor: pointer;
}

.selectMediaType button:hover {
  background-color: #5d6a4a;
}

.galleryVideo {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  padding: 10px;
  border-radius: 8px;
}

.video {
  transform: translateX(max-width);
  max-width: 500px;
}

.video video {
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.255);
  width: 100%;
  border-radius: 12px;
  height: auto;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.video {
  position: relative;
  margin: 10px;
  display: inline-block;
}

.video .textVideo {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  font-size: 16px;
  text-align: center;
  color: #f3f3f3;
  max-width: 100%;
  word-wrap: break-word;
  transition: opacity 0.2s ease-in-out;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}

.video .textVideo .conteudoText {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
  white-space: nowrap;
}

.video:hover .textVideo {
  opacity: 1;
}

.text {
  font-size: 14px;
  text-align: center;
  color: #f3f3f3;
  margin: 0 auto;
  max-width: 85%;
  word-wrap: break-word;
  pointer-events: none;
}

/* Estilos para o modal */
main {
  transition: filter 0.3s;
}

.modal {
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.622);
  z-index: 999;
}

.fechar {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  height: 35px;
  width: 35px;
  font-size: 28px;
  position: fixed;
  color: rgb(116, 83, 63);
  transform: translateY(calc(-50vh + 45px)) translateX(calc(50vw - 45px));
  transition: background-color 0.25s ease, transform 0.1s ease-in-out;
}

.modal-conteudo {
  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.425);
  max-height: 80vh;
  max-width: 80vw;
}

.fechar:hover {
  color: rgb(82, 60, 46);
  background-color: #d7d7d7;
}

.fechar:active {
  transform: translateY(calc(-50vh + 45px)) translateX(calc(50vw - 45px)) scale(0.9);
}

img {
  border-radius: 12px;
}

@media (max-width: 720px) {
  .video {
    width: calc(100% - 16px);
  }

  .video video {
    border-radius: 12px;
    transform: translateX(-8px);
  }

  .video .textVideo {
    max-width: 100%;
    transform: translateX(-8px);
  }

  .image {
    position: relative;
    border-radius: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    transform: translateX(-7px);
    transition: transform 0.25s ease-in-out;
  }

  .image:active {
    transform: translateX(-7px) scale(1.05);
  }

  .image:hover {
    transform: translateX(-7px) scale(1.05);
  }

  .image img {
    width: 100%;
    height: auto;
    object-fit: unset;
    border-radius: 16px;
    transition: filter 0.3s, transform 0.3s;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(19, 19, 19, 0);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    overflow: auto;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 0;
    border-radius: 8px;
    margin-right: auto;
  }

  .image:hover img {
    filter: brightness(40%) blur(3px);
    transform: scale(120%);
  }

  .image:hover .overlay {
    visibility: visible;
    opacity: 1;
  }

  .text {
    font-size: 14px;
    text-align: center;
    color: rgb(243, 243, 243);
    margin: 0 auto;
    max-width: 85%;
    word-wrap: break-word;
  }

  .image {
    flex: 1 1 calc(100% - 16px); /* 1 imagem por linha */
  }

  .history {
    min-width: 90%;
    max-width: 90%;
    padding: 10px;
  }

  .text {
    margin-left: 16px;
    margin-right: 16px;
  }

  .historyTitle {
    margin-left: 16px;
    margin-bottom: 400px;
  }

  .texto h1 {
    font-size: 24px;
    text-align: left;
    margin-left: 1%;
  }

  .texto p {
    font-size: 16px;
    text-align: left;
    margin-left: 1%;
    max-width: 270px;
    max-height: 270px;
  }

  .botoes img {
    margin: 0;
    padding: 5px;
  }

  .galleryButton {
    text-align: center;
  }
}
