body {
  font-family: 'Inter';
  background-color: #fff8f4;
  color: #53392a;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
}

h1 {
  text-align: center;
}

.swal2-popup .swal2-actions .swal2-styled {
  border-radius: 8px; 
}

.swal2-popup {
  border-radius: 20px; 
}

.gallery, .galleryVideo {
  margin-top: 120px;  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image, .video {
  background-color: #fce6c7;
  padding: 16px;
  border-radius: 12px;
  margin: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  font-weight: bolder;
  background-color: #f5e2ce;
  padding: 1px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.138);
}

footer {
  height: 80px;
}

img, video {
  width: 250px;
  border-radius: 8px;
  margin-top: 30px;
}

.bt {
  float: right;
  margin-top: 20px;
  margin-right: 40px;
}

input[type="button"] {
  margin-top: 60px;
  font-size: 16px;
  cursor: pointer;
}

.topButtons {
  font-weight: bold;
  margin: 3px;
  font-size: 14px;
  cursor: pointer;
  background-color: #85aa65;
  width: auto;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;
  padding: 5px 14px;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 10px;
}

.topButtons:hover {
  background-color: #708d57;
}

.editar {
  cursor: pointer;
  background-color: #5caf4c;
  font-weight: bold;
  width: auto;
  height: 25px;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 3px 14px;
  margin: 0 7.5px 0 7.5px;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 10px;
}

.deletar {
  cursor: pointer;
  background-color: #dd4141;
  font-weight: bold;
  width: auto;
  height: 25px;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 3px 14px;
  margin: 0 7.5px 0 7.5px;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 10px;
}

.editar:hover {
  background-color: #509343;
}

.deletar:hover {
  background-color: #b23a3a;
}

h4 {
  background-color: rgb(224, 193, 149);
  padding: 5px;
  border-radius: 5px;
  width: max-content;
  max-width: 200px;
  word-wrap: break-word;
}

@media (max-width: 720px) {
  header {
    margin-bottom: 20px;
    height: 90px;
    background-color: rgba(207, 153, 70, 0.363);
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  header h1 {
    font-size: 28px;
  }
  .gallery, .galleryVideo {
    margin-top: 0px;
    flex-direction: column; 
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .bt {
    margin-right: 0;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 50px;
  }
  .bt input[type = "button"] {
    margin: 4px;
  }

  .image, .video {
    margin: 0px;
    margin-bottom: 30px;
  }

  h4 {
    background-color: rgb(238, 216, 186);
    padding: 10px;
    border-radius: 5px;
    width: max-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  img, video {
    max-width: 230px;
    border-radius: 8px;
    display: block;
  }
  .bt {
    float: unset;
    margin-top: unset;
    margin-right: unset;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
