body {
  font-family: 'Inter', sans-serif;
  background-color: #fff8f4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0; 
  box-sizing: border-box;
  margin: 0;
}

input[type="submit"] {
  background-color: #af7c4c;
  font-weight: bold;
  width: auto;
  height: 25px;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 3px 14px;
  transition: background-color 0.2s, color 0.2s;
  margin-right: 10px;
}

input[type="submit"]:hover {
  background-color: #815c39;
}
.box {
  text-align: center;
  font-size: 16px;
  border-radius: 16px;
  background-color: rgba(207, 153, 70, 0.363);
  padding: 35px;
  margin: auto auto;
  width: auto;
  height: 100%;
}


::selection {
background-color: rgb(216, 162, 127);
}
input[type = "email"], input[type = "password"] {
  border-radius: 5px;
  border-width: 4px;
  border-style: solid;
  border-color: #b4875d;
} 


button {
  background-color: #af7c4c;
  font-weight: bold;
  width: auto;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 3px 14px;
  transition: background-color 0.2s, color 0.2s;
}
button:hover {
  background-color: #815c39;
}

input[type="button"] {
  background-color: #99af4c;
  font-weight: bold;
  width: auto;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 3px 14px;
  transition: background-color 0.2s, color 0.2s;
}
input[type="button"]:hover {
  background-color: #76863b;
}

input,
button {
  margin: 5px 0; 
}
#error {
  color: #e70a0a;
}
.escolherArquivos {
  background-color: #daad73;
  width: auto;
  height: 25px;
  font-weight: 600;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 3px 14px;
  transition: background-color 0.2s, color 0.2s;
}
.escolherArquivos:hover {
  background-color: #b39063;
}
.escolherArquivosInput {
  display: none;
}
h4 {
    color: #422d24;
    font-size: 22px;
}
textarea {
  border-radius: 8px;
}
footer {
  height: 70px;
}
h1 {
  text-align: center;
}

@media (max-width: 720px) {
  h1 {
    font-size: 28px;
    text-align: center;
  }
  .box {
    max-width: 75%;
  }
}